<div class="card-country">
    <h2 class="card-title">{{this.name}}</h2>
    <div class="card-body">
        <div class="card-data">
            <p class="card-text"><span class="card-text-title">Capital:</span> {{this.capital}}</p>
            <p class="card-text"><span class="card-text-title">Population:</span> {{this.population}}</p>
            <p class="card-text"><span class="card-text-title">Languages:</span></p>
            <ul class="list-group">
                {{#each this.languages.name}}
                <li class="list-group-item">{{this.languages.name}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="card-flag">
            <img src={{flag}} alt="{{this.name}}" width="490">
        </div>
    </div>
</div>